<article id="leads">
  <h1>
    Leads
    <small>{{#link-to 'leads.new'}}New Lead{{/link-to}}</small>
  </h1>


  <ul>
    {{#each lead in controller}}
      {{#link-to 'lead' lead tagName="li"}}
        {{lead.fullName}}
      {{/link-to}}
    {{/each}}
  </ul>

</article>
{{outlet}}